<header class="header">
  <div class="container">
    <div class="header__icon" >
      <a href="#" class="logo">
        <img src="../../../assets/img/New_LOGO.png" alt="" width="169px">
      </a>
    </div>
    <nav>
      <ul class="header__menu-list">
        <li>
          <a href="#" class="active">Home</a>
        </li>
        <li>
          <a href="#">Store</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
      </ul>
      <ul class="header__menu-with-icon-list">
        <li>
          <a href="#">
            <mat-icon class="header__icon">favorite_border</mat-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <mat-icon class="header__icon">shopping_cart</mat-icon>
          </a>
        </li>
        <li> <span>1234zl</span> </li>
      </ul>
    </nav>
    <div class="header__languages">
      <ul>
        <li>
          <a href="#">
            <img src="../../../assets/img/poland.svg" alt="pl">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../assets/img/ukraine.svg" alt="ua">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../assets/img/united-kingdom.svg" alt="en">
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
