@import "../../../scss/variables";
@import "../../../scss/mixins";
.burger-menu {
    display: none;
    position: fixed;
    top: 85px;
    right: -30px;
    background-color: #ffffff;
    border: 2px solid #000;
    padding: 0.9em;
    border-radius: 50%;
    box-shadow: $basic-shadow;
    z-index: 999;
    &__line {
      display: block;
      height: 1px;
      width: 25px;
      background-color: #000;
      border-radius: 50%;
    }
    &__line + &__line {
      margin-top: 0.6em;
    }
  }
  
  .mobile-menu {
    display: none;
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0000005e;
    overflow: hidden;
    animation: menu-shadow 0.2s ease-in;
    &__menu {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 300px;
      background-image: $menu-bg;
      padding: 3em 1em;
      box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.24);
    }
    &__options {
      @include flex(row, wrap, space-between, center);
    }
  
    &__buttons {
      li {
        button,
        a {
          border-radius: 50%;
          padding: 6px;
          background-color: white;
          @include flex(row, wrap, center, center);
          box-shadow: $basic-shadow, inset 0 2px 2px rgba(0, 0, 0, 0.25);
          mat-icon {
            width: 28px;
            height: 28px;
            font-size: 28px;
            line-height: 28px;
          }
        }
        span {
          background-color: white;
          border-radius: 23px;
          text-align: center;
          padding: 0.5em 0.7em;
          box-shadow: $basic-shadow, inset 0 2px 2px rgba(0, 0, 0, 0.25);
        }
        button {
          margin-bottom: 1em;
        }
      }
      &--row {
        margin-top: 3.5em;
        width: 100%;
        @include flex(row, wrap, space-between, center);
      }
    }
  }
  
  @keyframes menu-shadow {
    0% {
      background-color: #00000000;
    }
    100% {
      background-color: #0000005e;
    }
  }
  
  @media screen and (max-width: 1270px) {
    .header {
      padding: 0.625em 0;
  
      &__icon {
        a {
          img {
            width: 120px;
          }
        }
      }
  
      &__menu-list {
        margin-right: 18px;
        li + li {
          margin-left: 18px;
        }
        li {
          padding: 0.2em;
          a {
            font-size: 1.1rem;
            padding: 0.2em 0;
            width: 110px;
          }
        }
      }
  
      &__menu-with-icon-list {
        li {
          padding: 0.1em;
          a {
            padding: 0.3em;
            border-radius: 50%;
            .header__icon {
              font-size: 1.2em;
              text-align: center;
              line-height: 25px;
            }
          }
  
          span {
            display: none;
          }
        }
        li + li {
          margin-left: 8px;
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .header {
      padding: 0.625em 0 0.5em;
  
      &__icon {
        a {
          img {
            width: 120px;
          }
        }
      }
      nav {
        display: none;
      }
      &__menu-list {
        margin-top: 3.5em;
        margin-right: 0;
        li + li {
          margin-left: 0;
        }
        li {
          padding: 0.2em;
          a {
            font-size: 1.25rem;
            padding: 0.5em 0;
            width: 150px;
          }
        }
      }
      &__languages {
        display: none;
      }
    }
    .burger-menu {
      display: block;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .show {
    display: block;
  }
  