@import "../../../scss/variables";
@import "../../../scss/mixins";
.header {
  padding: 0.6875em 0;
  background-image: $header-bg;

  .container {
    @include flex(row, wrap, space-around, center);
  }
  // &__icon {
  //   margin-left: 85px;
  // }
  nav {
    @include flex(row, wrap, space-between, center);
  }

  &__menu-list {
    // margin-left: 1.56em;
    // margin-right: 2.45em;
    margin-right: 30px;
    @include flex(row, wrap, space-between, center);
    li + li {
      margin-left: 30px;
    }
    li {
      padding: .22em;
      transition: background-image .3s ease-in-out;
      a {
        font-size: 1.5rem;
        line-height: 1.3;
        padding: 0.25em 0;
        width: 170px;
        display: block;
        text-align: center;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        color: $header-item-txt-clr;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: rgb(247, 247, 240);
        }
      }
      a.active {
        color: $active-color;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.418),;
      }
    }

    li.active {
      background-image: linear-gradient(45deg,#FF7B01, #FFC701);
      border-radius: 7px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__menu-with-icon-list {
    // margin-right: 4.6em;
    // margin-left: 0;
    @include flex(row, wrap, space-between, center);
    li {
      padding: .16em;
      border-radius: 50%;
      a {
        padding: 0.5em;
        display: flex;
        align-items: center;
        box-shadow: $menu-shadow;
        background-color: #ffffff;
        border-radius: 50%;
        .header__icon {
          color: $header-item-txt-clr;
        }
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: rgb(247, 247, 240);
        }

      }
      a.active {
        box-shadow: inset 0 0 0 1px #0000005e;
        // color: $active-color;
        .header__icon {
          color: $active-color;
        }
      }

      span {
        font-size: 1rem;
        border-radius: 30px;
        padding: 4px;
        box-shadow: $menu-shadow;
        width: 81px;
        text-align: center;
        display: block;
        background-color: #ffffff;
        line-height: 1.12;
        color: $header-item-txt-clr;
      }
    }
    li.active {
      background-image: linear-gradient(45deg, #FF7B01, #FFC701);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    li + li {
      margin-left: 11px;
    }
  }

  &__languages {
    // margin-right: 5em;
    ul {
      padding: 3px;
      box-shadow: $menu-shadow;
      border-radius: 30px;
      background-color: #ffffff;
      li {
        a {
          display: flex;
          align-items: center;
          padding: 2px;
          img {
            object-fit: cover;
            object-position: center;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}

