<header class="header">
  <div class="container">
    <div class="header__icon" >
      <a href="#" class="logo" routerLink='/'>
        <img src="../../../assets/img/New_LOGO.png" alt="" width="130px">
      </a>
    </div>
    <nav>
      <ul class="header__menu-list">
        <li  routerLinkActive="active">
          <a matRipple [routerLink]="['/home']" routerLinkActive='active'>Home</a>
        </li>
        <li  routerLinkActive="active">
          <a matRipple [routerLink]="['/store']" routerLinkActive='active'>Store</a>
        </li>
        <li  routerLinkActive="active">
          <a matRipple [routerLink]="['/about-us']" routerLinkActive='active'>About us</a>
        </li>
      </ul>
      <ul class="header__menu-with-icon-list">
        <li  routerLinkActive="active">
          <a matRipple [routerLink]="['/favorites']" routerLinkActive='active' >
            <mat-icon class="header__icon">favorite_border</mat-icon>
          </a>
        </li>
        <li routerLinkActive="active">
          <a matRipple [routerLink]="['/bag']" routerLinkActive='active'>
            <mat-icon class="header__icon">shopping_cart</mat-icon>
          </a>
        </li>
        <li> <span>1234zl</span> </li>
      </ul>
    </nav>
    <div class="header__languages">
      <ul>
        <li>
          <a href="#">
            <img src="../../../assets/img/poland.svg" alt="pl">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../assets/img/ukraine.svg" alt="ua">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../assets/img/united-kingdom.svg" alt="en">
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
