<div class="container">
  <div class="product-details">
    <div class="product-details__images">
      <div class="images-gallery">
        <a class="images-gallery__main-img" (click)="showGallery(0)">
          <img [src]="activeImage" alt="" />
        </a>

        <div class="images-gallery__row-of-images">
          <a
            class="images-gallery__img-wrapper"
            *ngFor="let img of images; index as i"
            (click)="openImage(img, i)"
            [ngClass]="{ 'images-gallery__img-wrapper--clicked': img === activeImage }"
          >
            <img [src]="img" />
          </a>
        </div>
      </div>
    </div>

    <div class="product-details__info"></div>
  </div>
</div>
