<div class="container">
  <div class="home">
    <section>
      <div class="home__carousel-wrapper">
        <app-swiper></app-swiper>
      </div>
    </section>

    <section>
      <div class="home__info-block">
        <div class="home__info-content">
          <div class="home__btn-container">
            <div class="home__btn-more">
              <button matRipple>See more</button>
            </div>
          </div>

          <div class="home__short-info">
            <h3>До свят</h3>
          </div>
          <div class="home__side-block"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="home__info-block" style="flex-direction: row-reverse">
        <div class="home__info-content" style="flex-direction: row-reverse">
          <div class="home__btn-container">
            <div class="home__btn-more">
              <button matRipple>See more</button>
            </div>
          </div>

          <div class="home__short-info"><h3>До свят</h3></div>
          <div class="home__side-block"></div>
        </div>
      </div>
    </section>
  </div>
</div>
