<div class="container">
  <div class="title-header">
    <h2>{{ "page.title.store" | translate }}</h2>
  </div>
  <div class="store">
    <div class="store-mobile">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{ "store.categories" | translate | titlecase }}:</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="store__categories">
            <a (click)="getProducts()">{{
              "categories.all" | translate | titlecase
            }}</a>
          </div>
          <div
            *ngFor="let cat of categories; index as i"
            class="store__categories"
          >
            <!-- * start category for spring REST API -->
            <a (click)="searchProductsByFullText(cat.categoryEn)">{{
              "categories." + convertToSnakeCase(cat.categoryEn)
                | translate
                | titlecase
            }}</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="store__category-block">
      <div class="store__category-title">
        <h3>{{ "store.categories" | translate | titlecase }}:</h3>
      </div>
      <div class="store__categories">
        <a (click)="getProducts()">{{
          "categories.all" | translate | titlecase
        }}</a>
      </div>

      <div *ngFor="let cat of categories; index as i" class="store__categories">
        <!-- * start category for spring REST API -->
        <a (click)="searchProductsByFullText(cat.categoryEn)">{{
          "categories." + convertToSnakeCase(cat.categoryEn)
            | translate
            | titlecase
        }}</a>
        <!-- * end category for spring REST API -->

        <!-- * start category for fake REST API -->
        <!-- <a>{{
          "categories." + convertToSnakeCase(cat.categoryEn)
            | translate
            | titlecase
        }}</a> -->
        <!-- * end category for fake REST API -->
      </div>
    </div>

    <div class="store__search-and-products-block">
      <form class="store__search" (ngSubmit)="searchProductsByFullText()">
        <input type="text" [(ngModel)]="searchName" name="searchName" />
        <!-- * start search btn for spring REST API -->
        <span>
          <button type="submit" matRipple class="btn btn__bg-white">
            Search
          </button>
        </span>
        <!-- * end search btn for spring REST API -->

        <!-- * start search btn for fake REST API -->
        <!-- <span>
          <button matRipple class="btn btn__bg-white">Search</button>
        </span> -->
        <!-- * end search btn for fake REST API -->
      </form>

      <div class="store__products">
        <div class="store__product product" *ngFor="let product of products">
          <div class="product__image-wrapper">
            <a [routerLink]="['/store/product/', product.id]">
              <img [src]="product.images[0].Location" [alt]="product.titleEn" />
            </a>
            <button
              matRipple
              class="btn btn__icon btn__icon--favorite"
              (click)="addToFavorites(product)"
            >
              <mat-icon
                [ngStyle]="{
                  color: getStringOfIds().includes(product.id) ? 'red' : 'black'
                }"
                >{{
                  getStringOfIds().includes(product.id)
                    ? "favorite"
                    : "favorite_border"
                }}</mat-icon
              >
            </button>
          </div>

          <div class="product__image-wrapper-mobile">
            <swiper [config]="config">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let image of product.images">
                  <a [routerLink]="['/store/product/', product.id]">
                    <img [src]="image.Location" [alt]="product.titleEn" />
                  </a>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </swiper>
          </div>
          <h4 class="product__title">
            {{
              "title." + convertToSnakeCase(product.titleEn)
                | translate
                | titlecase
            }}
          </h4>
          <div *ngIf="!product.available" class="product__not-available">
            {{ "product.available" | translate | titlecase }}
          </div>
          <div class="product__info">
            <ng-container *ngIf="product.discount">
              <div class="product__price-info">
                <span class="product__last-price"
                  >{{ product.price | number: "1.2-2" }}zł</span
                >
                <span class="product__current-price"
                  >{{ product.totalPrice | number: "1.2-2" }}zł</span
                >
              </div>
              <button
                matRipple
                [disabled]="!product.available"
                class="btn btn__icon"
                (click)="addToBasket(product)"
              >
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="!product.discount">
              <div class="product__price">
                <span>{{ product.totalPrice | number: "1.2-2" }}zł</span>
              </div>
              <button
                matRipple
                [disabled]="!product.available"
                class="btn btn__icon"
                (click)="addToBasket(product)"
              >
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="product__description">
            <p style="margin-bottom: 0.5em">
              <b>{{ "product.materials" | translate | titlecase }}: </b>
              {{
                "materials." + convertToSnakeCase(product.materialEn)
                  | translate
                  | titlecase
              }}
            </p>
            <ul>
              <li>
                {{ "product.width" | translate | titlecase }}:
                {{ product.width }} cm
              </li>
              <li>
                {{ "product.length" | translate | titlecase }}:
                {{ product.length }} cm
              </li>
              <li>
                {{ "product.height" | translate | titlecase }}:
                {{ product.height }} cm
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
