<div class="container">
  <div class="store">
    <div class="store__category-block">
      <div class="store__category-title">
        <h3>{{ "store.categories" | translate | titlecase }}:</h3>
      </div>
      <div class="store__categories">
        <a>{{ "categories.all" | translate | titlecase }}</a>
      </div>

      <div *ngFor="let cat of categories; index as i" class="store__categories">
        <a>{{
          "categories." + convertToSnakeCase(cat.categoryEn)
            | translate
            | titlecase
        }}</a>
      </div>
    </div>

    <div class="store__search-and-products-block">
      <div class="store__search">
        <input type="text" />

        <span>
          <button matRipple class="btn btn__bg-white">Search</button>
        </span>
      </div>

      <div class="store__products">
        <div class="store__product product">
          <div class="product__image-wrapper">
            <img
              src="https://www.woodnthings.com/1387-thickbox_default/-16-inch-plant-stand-with-drawer.jpg"
              alt="chair"
            />
            <button matRipple class="btn btn__icon btn__icon--favorite">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <h4 class="product__title">Lorem ipsum dolor</h4>

          <div class="product__info">
            <ng-container *ngIf="false">
              <div class="product__price-info">
                <span class="product__last-price">22.33$</span>
                <span class="product__current-price">18.00$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="true">
              <div class="product__price">
                <span>22.33$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="product__description">
            <p><b>Material: </b>wood, dub</p>
            <ul>
              <li>width: 20cm</li>
              <li>length: 30cm</li>
              <li>height: 22cm</li>
            </ul>
          </div>
        </div>
        <div class="store__product product">
          <div class="product__image-wrapper">
            <img
              src="https://lirp-cdn.multiscreensite.com/9e1bb53c/dms3rep/multi/opt/Australian+Made+Custom+Wooden+Box+With+Print-640w.png"
              alt="chair"
            />
            <button matRipple class="btn btn__icon btn__icon--favorite">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <h4 class="product__title">Lorem ipsum dolor</h4>

          <div class="product__info">
            <ng-container *ngIf="false">
              <div class="product__price-info">
                <span class="product__last-price">22.33$</span>
                <span class="product__current-price">18.00$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="true">
              <div class="product__price">
                <span>22.33$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="product__description">
            <p><b>Material: </b>wood, dub</p>
            <ul>
              <li>width: 20cm</li>
              <li>length: 30cm</li>
              <li>height: 22cm</li>
            </ul>
          </div>
        </div>
        <div class="store__product product">
          <div class="product__image-wrapper">
            <img
              src="https://lirp-cdn.multiscreensite.com/9e1bb53c/dms3rep/multi/opt/Australian+Made+Custom+Wooden+Box+With+Print-640w.png"
              alt="chair"
            />
            <button matRipple class="btn btn__icon btn__icon--favorite">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <h4 class="product__title">Lorem ipsum dolor</h4>

          <div class="product__info">
            <ng-container *ngIf="true">
              <div class="product__price-info">
                <span class="product__last-price">22.33$</span>
                <span class="product__current-price">18.00$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="false">
              <div class="product__price">
                <span>22.33$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="product__description">
            <p><b>Material: </b>wood, dub</p>
            <ul>
              <li>width: 20cm</li>
              <li>length: 30cm</li>
              <li>height: 22cm</li>
            </ul>
          </div>
        </div>
        <div class="store__product product">
          <div class="product__image-wrapper">
            <img
              src="https://lirp-cdn.multiscreensite.com/9e1bb53c/dms3rep/multi/opt/Australian+Made+Custom+Wooden+Box+With+Print-640w.png"
              alt="chair"
            />
            <button matRipple class="btn btn__icon btn__icon--favorite">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <h4 class="product__title">Lorem ipsum dolor</h4>

          <div class="product__info">
            <ng-container *ngIf="false">
              <div class="product__price-info">
                <span class="product__last-price">22.33$</span>
                <span class="product__current-price">18.00$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="true">
              <div class="product__price">
                <span>22.33$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="product__description">
            <p><b>Material: </b>wood, dub</p>
            <ul>
              <li>width: 20cm</li>
              <li>length: 30cm</li>
              <li>height: 22cm</li>
            </ul>
          </div>
        </div>
        <div class="store__product product">
          <div class="product__image-wrapper">
            <img
              src="https://lirp-cdn.multiscreensite.com/9e1bb53c/dms3rep/multi/opt/Australian+Made+Custom+Wooden+Box+With+Print-640w.png"
              alt="chair"
            />
            <button matRipple class="btn btn__icon btn__icon--favorite">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <h4 class="product__title">Lorem ipsum dolor</h4>

          <div class="product__info">
            <ng-container *ngIf="true">
              <div class="product__price-info">
                <span class="product__last-price">22.33$</span>
                <span class="product__current-price">18.00$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="false">
              <div class="product__price">
                <span>22.33$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="product__description">
            <p><b>Material: </b>wood, dub</p>
            <ul>
              <li>width: 20cm</li>
              <li>length: 30cm</li>
              <li>height: 22cm</li>
            </ul>
          </div>
        </div>
        <div class="store__product product">
          <div class="product__image-wrapper">
            <img
              src="https://lirp-cdn.multiscreensite.com/9e1bb53c/dms3rep/multi/opt/Australian+Made+Custom+Wooden+Box+With+Print-640w.png"
              alt="chair"
            />
            <button matRipple class="btn btn__icon btn__icon--favorite">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <h4 class="product__title">Lorem ipsum dolor</h4>

          <div class="product__info">
            <ng-container *ngIf="false">
              <div class="product__price-info">
                <span class="product__last-price">22.33$</span>
                <span class="product__current-price">18.00$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="true">
              <div class="product__price">
                <span>22.33$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="product__description">
            <p><b>Material: </b>wood, dub</p>
            <ul>
              <li>width: 20cm</li>
              <li>length: 30cm</li>
              <li>height: 22cm</li>
            </ul>
          </div>
        </div>
        <div class="store__product product">
          <div class="product__image-wrapper">
            <img
              src="https://lirp-cdn.multiscreensite.com/9e1bb53c/dms3rep/multi/opt/Australian+Made+Custom+Wooden+Box+With+Print-640w.png"
              alt="chair"
            />
            <button matRipple class="btn btn__icon btn__icon--favorite">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <h4 class="product__title">Lorem ipsum dolor</h4>

          <div class="product__info">
            <ng-container *ngIf="false">
              <div class="product__price-info">
                <span class="product__last-price">22.33$</span>
                <span class="product__current-price">18.00$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="true">
              <div class="product__price">
                <span>22.33$</span>
              </div>
              <button matRipple class="btn btn__icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="product__description">
            <p><b>Material: </b>wood, dub</p>
            <ul>
              <li>width: 20cm</li>
              <li>length: 30cm</li>
              <li>height: 22cm</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
