@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import "./base";
@import "./variables";
@import "./mixins";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e2e2;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    background: rgb(240, 240, 240);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

p,
span,
li,
a,
small,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial", sans-serif;
}
p {
  letter-spacing: 0.04rem;
}
body {
  position: relative;
  &::before {
    z-index: -199;

    content: "";
    width: 506.1px;
    height: 1258.98px;
    left: -360px;
    top: 102.23px;
    background: linear-gradient(184.31deg, #ffd8b4 52.67%, #ffc58e 89.79%);
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.199);
    transform: rotate(-70.22deg);
    position: fixed;
    border-radius: 50%;
  }
  &::after {
    content: "";
    z-index: -199;
    width: 1024.58px;
    height: 2096.42px;
    left: 1002px;
    top: -1435.35px;
    position: fixed;
    background: linear-gradient(179.81deg, #c8daeb 47.51%, #8fc3f4 99.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-19.24deg);
    border-radius: 50%;
  }
}

input {
  &:focus {
    outline: none;
  }
}

input {
  border: none;
  background: transparent;
}
.btn-wrapper {
  padding: 0.2em;
  background-image: $border-gradient-for-btn;
  border-radius: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: filter 0.3s ease-in;
  &__br-50 {
    border-radius: 50%;
    .btn {
      border-radius: 50%;
      padding: 0.3em;
      @include flex(row, wrap, center, center);
    }
  }
  &__delete {
    background-image: none;
    background-color: $error-color;
    .btn {
      mat-icon {
        color: $error-color;
      }
    }
  }
  &__disabled {
    filter: grayscale(100%);
  }
}
.btn {
  padding: 0.5em 1.5em;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  &__bg-white {
    width: 100%;
    color: $active-color;
    background-color: #fafafa;
    border-radius: 30px;
    transition: all 0.3s ease-in;
    &--width-auto {
      width: auto;
    }
    &:hover {
      background-color: #ffffff;
    }
  }

  &__icon {
    padding: 0.5em;
    border-radius: 50%;
    @include flex(row, wrap, center, center);
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &--favorite {
      position: absolute;
      top: 0.6em;
      right: 0.6em;
      padding: 0.3em;
      display: none;
      mat-icon {
        color: #d92354;
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 30px;
      }
    }
    &:disabled {
      mat-icon {
        color: #7e7e7e;
      }
    }
    &:hover {
      background-color: #ffffff;
    }
  }

  &:focus {
    outline: none;
  }
}

.btn:disabled {
  filter: grayscale(100%);
  cursor: default;
  &:hover {
    background-color: #fafafa;
  }
}

.price {
  margin-top: 1em;
  &__wrapper {
    @include flex(row, wrap, space-around, center);
  }
  p {
    font-size: 1.25rem;
  }
  &__with-discount {
    color: #d92354;
  }

  &__discount {
    font-size: 1.25rem;
    background-image: $border-gradient-for-btn;
    color: #fafafa;
    padding: 0.5em 0.9em;
    border-radius: 5px;
  }

  &__not-available {
    color: gray;
    font-size: 1rem;
    padding: 0 1em;
  }
}
p.price__with-discount {
  font-size: 1.5rem;
}

.width-100 {
  width: 100%;
}

.orders-content {
  margin: 2em 0;

  width: 100%;
  height: 580px;
  overflow: auto;
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
  }

  &__order {
    @include flex(row, wrap, space-between, stretch);
  }
  &__order + &__order {
    margin-top: 0.8em;
  }

  &__order-img {
    width: 17%;
    padding: 0.4em;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    @include flex(row, wrap, center, center);
    img {
      width: 100%;
      border-radius: 26px;
    }
  }

  &__order-body {
    padding: 0.8em 0.5em 0 1.2em;
    width: 82%;
    background: #e2e2e2;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    @include flex (column, wrap, space-between, flex-start)
  }
  &__order-body-header {
    @include flex (row, nowrap, space-between, flex-start);
    margin-bottom: .4em;

  }
  &__title {
    font-size: 1.8rem;
  }

  &__delete-btn {
    margin-left: 1em;
  }

  &__description {

    font-size: 1.2rem;
  }

  &__price {
    width: 100%;
    margin-bottom: 1em;
    @include flex(row, wrap, space-between, center);

    p + p {
      margin-left: 1em;
    }

    p {
      font-size: 2rem;
    }
  }

  &__counter-content {
    @include flex (row, wrap, flex-start, center);

  }

  &__counter {
    @include flex (row, wrap, flex-start, center);
    margin-right: 1em;
    input {
      background: #ffffff;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 0.7em 1em;
      margin: 0 .5em;
    }
  }

  &__btn {
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
  }

  &__total-price {
    background: #ffffff;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: .7em 1em;
    font-size: 1.2rem
  }
}

@media screen and (max-width: 1270px) {
  .container {
    width: 92%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
